@mixin fontSize($size: 14) {
  font-size: $size + px;
  font-size: $size / 16 * 1rem;
}
@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
